.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.container {
  max-width: 768px;
  margin: auto;
  padding: 2em 0em 5em;
  text-align: center;
}

$linkColor: black;
$linkHoverColor: #808080;

a:link {
  font-size: 1.5rem;
  color: $linkColor;
}

a:visited {
  color: $linkColor;
}

a:focus {
  color: $linkColor;
}

a:hover {
  color: $linkHoverColor;
}

a:active {
  color: $linkColor
}