body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

$grid-columns: 3;
$grid-width: 100% / $grid-columns;

.grid-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat($grid-columns, $grid-width);
  grid-template-rows: auto;
  justify-content: space-evenly;
  row-gap: 1em;
  column-gap: 1em;
  background-color: #fff;
  color: #444;
  padding: 1em 0;
}

.detailed-photo {
  max-width: 100%;
}

.grid-item {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  border: #444 1px solid;
  box-shadow: #cccccc 2px 2px 8px;
  opacity: 0.75;
  transition: 0.2s;
}
.grid-item:hover {
  opacity: 1;
  box-shadow: #7e7e7e 2px 2px 8px;
}

.grid-link {
  margin: 0;
  text-align:center;
}

.animate-top {
  position: relative;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1s;
  animation-name: animatetop;
  animation-duration: 1s;
}

@-webkit-keyframes animatetop {
  from {
    bottom: 50px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    bottom: 50px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}