body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.grid-container {
  margin: auto;
  padding: 1em;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-gap: 2em;
  grid-row-gap: 2em;
  background-color: #fff;
  color: #444;
}

.grid-item {
  border: #444 2px solid;
  box-shadow: #585858 2px 2px 8px;
}
